{{ ansible_managed | comment }}
# /etc/rsyslog.conf configuration file for rsyslog
#
# For more information install rsyslog-doc and see
# /usr/share/doc/rsyslog-doc/html/configuration/index.html


#################
#### MODULES ####
#################

# Provides support for local system logging (e.g. via logger command)
# And turns off message reception via local log socket;
# Local messages are retrieved through imjournal now.
{{ '' if 'imuxsock' in rsyslog_mods else '#' }}module(load="imuxsock"{{ ' SysSock.Use="off"' if not rsyslog_imuxsock_syssock else '' }})

# Provides access to the systemd journal
# And provides file to store the position in the journal
{{ '' if 'imjournal' in rsyslog_mods else '#' }}module(load="imjournal" StateFile="imjournal.state"{{ ' WorkAroundJournalBug="on"' if rsyslog_workaroundjournalbug else '' }})

# provides kernel logging support and enable non-kernel klog messages
{{ '' if 'imklog' in rsyslog_mods else '#' }}module(load="imklog" permitnonkernelfacility="on")

# provides --MARK-- message capability
{{ '' if 'immark' in rsyslog_mods else '#' }}module(load="immark")

# provides access to specific log file
{{ '' if 'imfile' in rsyslog_mods else '#' }}module(load="imfile")

# provides UDP syslog reception
{{ '' if rsyslog_receiver else '#' }}module(load="imudp") # needs to be done just once
{{ '' if rsyslog_receiver else '#' }}input(type="imudp" port="514")

# provides TCP syslog reception
{{ '' if rsyslog_receiver else '#' }}module(load="imtcp") # needs to be done just once
{{ '' if rsyslog_receiver else '#' }}input(type="imtcp" port="514")

#
# Set defaults for all log files.
#
module(
    load="builtin:omfile"
    template="{{ rsyslog_default_template }}"
    dirCreateMode="{{ rsyslog_dircreatemode }}"
    fileCreateMode="{{ rsyslog_filecreatemode }}"
{% if rsyslog_default_file_owner is defined %}
    fileOwner="{{ rsyslog_default_file_owner }}"
{% endif %}
{% if rsyslog_default_file_group %}
    fileGroup="{{ rsyslog_default_file_group }}"
{% endif %}
)

###########################
#### GLOBAL DIRECTIVES ####
###########################

global(
{% if rsyslog_preservefqdn %}
  preserveFQDN="on"
{% endif %}
  workDirectory="{{ rsyslog_work_directory }}"
{% if rsyslog_advanced_global_settings | length > 0 %}
{% for param,value in rsyslog_advanced_global_settings.items() %}
  {{ param }}="{{ value }}"
{% endfor %}
{% endif %}
)

#
# Include all config files in /etc/rsyslog.d/
#
include(file="/etc/rsyslog.d/*.conf" mode="optional")

{% if rsyslog_default_rules | length > 0 %}
###############
#### RULES ####
###############
{% for item in rsyslog_default_rules %}
{{ item.rule }} {{ item.logpath }}
{% endfor %}
{% endif %}

